<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FileUpload</title>
</head>
<body>
{{ ok }}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">ЖМИ</button>
</form>
</body>
</html>